---
layout: default
---

<div class="content-wrapper">
  <div class="content-wrapper__inner">

    <!-- 文章列表 -->
    <div class="main-post-list">
      <ol class="post-list">
        {% for post in paginator.posts %}
        <li>
          <h2 class="post-list__post-title">
            <a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a>
          </h2>
    
          <!-- 摘要显示 -->
          <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 50, "..." }}</p>
    
          <!-- 标签和阅读全文按钮 -->
          <div class="post-list__meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-list__meta--date">
              <img src="/images/calendar.png" width="20px" /> 
              {{ post.date | date: "%F" }}
            </time>
            <div class="post-list__tags">
              {% for tag in post.tags %}
                <a href="/tags#{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </div>
            <a class="btn-border-small" href="{{ post.url }}">阅读全文 »</a>
          </div>
    
          <hr class="post-list__divider" />
        </li>
        {% endfor %}
      </ol>
    
      <!-- 分页 -->
      {% include pagination.html %}
    </div>

  </div>
</div>
